<div class="row">
  <div class="col-md-6">
    <p class="text-center">
      <h1>{{moment-format date 'dddd, MMMM Do YYYY'}}</h1>
      <h2>{{moment-format date 'hh:mm a'}}</h2>
    </p>
    {{#if isManual}}
      {{bs-datetimepicker
        minDate=minDate
        date=date
        maxDate=maxDate
        openOnFocus=true
        showClose=true
        showTodayButton=true
        isMobile=isMobile.any
      }}
      <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Adjust time if necessary. In most case default value is sufficient.
      </p>
    {{/if}}
  </div>

  <div class="col-md-6">
    {{#bs-button-group vertical=true class="btn-block" onChange=(action "buttonSelect") as |bg|}}
      {{#bg.button type="default" size="lg" block=true value="now"}}Now{{/bg.button}}
      {{#bg.button type="default" size="lg" block=true value="yesterday"}}Yesterday{{/bg.button}}
      {{#bg.button type="default" size="lg" block=true value="2daysago"}}Two days ago{{/bg.button}}
      {{#bg.button type="default" size="lg" block=true value="manual"}}Manual{{/bg.button}}
    {{/bs-button-group}}
  </div>

</div>
