<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{#link-to "users.details" user.id}}{{user.name}}{{/link-to}}</h3>
  </div>
  <div class="panel-body">
    {{yield}}
  </div>
  <ul class="list-group">
    <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right"></i>GeoKrety owned</li>
    <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right"></i>GeoKrety moved</li>
    <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right"></i>My moves</li>
    <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right"></i>My moves comments</li>
  </ul>
</div>
