
/* Move down content because we have a fixed navbar that is 50px tall */
.container {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.infinity-loader {
  background-color: wheat;
}
