{{page-numbers content=geokrety showFL=true}}
<div class={{if geokrety.loading "blur"}}>
  {{#each geokrety as |geokret|}}
    {{geokret-details geokret=geokret}}
  {{/each}}
</div>
{{page-numbers content=geokrety showFL=true}}
