<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">GeoKrety</li>
</ol>

{{#each model as |geokret|}}
  {{geokret-details geokret=geokret}}
{{/each}}

{{#if hasClickedLoadMore}}
  {{infinity-loader infinityModel=model triggerOffset=400
  loadingText="Loading..."
  loadedText="No more GeoKrety!"}}
{{else}}
  <div class="row">
    <div class="col-xs-1 col-xs-offset-5">
      {{#bs-button type="primary" onClick=(toggle "hasClickedLoadMore" this)}}Load more…{{/bs-button}}
    </div>
  </div>
{{/if}}
