{{#if (gt geokrety.totalPages 1)}}
  {{page-numbers content=geokrety showFL=true}}
{{/if}}
<div class={{if moves.loading "blur"}}>
  {{#each geokrety as |geokret|}}
    {{geokret-details geokret=geokret}}
  {{/each}}
</div>
{{#if (gt geokrety.totalPages 1)}}
  {{page-numbers content=geokrety showFL=true}}
{{/if}}
