<header>
  <p class="logo"><a href="/">Geo<span class="black">Krety</span>.org</a></p>
  <p class="subline">Open source item tracking for all caching platforms</p>
  <span class="bg"></span>
  <img class="sun" src="/images/header/sun.svg">
</header>

<div class="container">
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
  {{outlet}}
</div>

{{#bs-navbar class="navbar-inverse navbar-fixed-top" as |navbar|}}

  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" }}
      <a class="navbar-brand" href="#">GeoKrety.org</a>
    {{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav class="navbar-right" as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index"}}Home{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "news"}}News{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "register-geokret-move"}}Register a move{{/nav.link-to}}
      {{/nav.item}}

      {{#nav.dropdown as |dd|}}
        {{#dd.toggle}}Users <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{#ddm.link-to "users"}}Users{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "users.details" 26422}}User 26422{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "users.details" 1}}User 1{{/ddm.link-to}}{{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}

      {{#nav.dropdown as |dd|}}
        {{#dd.toggle}}GeoKrety <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{#ddm.link-to "geokrety"}}GeoKrety{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "geokrety.details" 46464}}GeoKret 46464{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "geokrety.details" 41935}}GeoKret 41935{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "geokrety.details" 52217}}GeoKret 52217{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "geokrety.details" 71467}}GeoKret 71467{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "geokrety.details" 71267}}GeoKret with no move{{/ddm.link-to}}{{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}


      {{#nav.dropdown as |dd|}}
        {{#dd.toggle}}Profile <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{#ddm.link-to "help"}}Settings{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "help"}}Profile{{/ddm.link-to}}{{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}

      {{#nav.item}}
        {{#nav.link-to "search"}}Search{{/nav.link-to}}
      {{/nav.item}}

      {{#nav.item}}
        {{#nav.link-to "help"}}Help{{/nav.link-to}}
      {{/nav.item}}

    {{/navbar.nav}}
    {{#navbar.nav class="navbar-right" as |nav|}}
      {{#nav.item}}
        {{#bs-form as |form|}}
          {{#form.group}}
            <input type="text" class="form-control" placeholder="Search...">
            {{yield}}
          {{/form.group}}
        {{/bs-form}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
